pymysql
pymongo
py2neo
concurrent_log_handler
redis
rejson
elasticsearch
elasticsearch_dsl
numpy
opencv-python==4.2.0.34
pillow
emoji
googletrans
pika
oss2
pydantic
aiofiles
jinja2
fastapi
aliyun-python-sdk-core-v3
aliyun-python-sdk-mts
gunicorn
gevent
uvicorn
fastapi
baidu-aip